body {
  letter-spacing: 0.03em;
  margin:0;
  background: #f6f6f6;
  font-family: "yugothic","yu gothic",sans-serif;
  font-size: 14px;
}

.text {
  width: 100%;
  font-size:14px;
  line-height: 30px;
  float:left;
  text-align: left;
}
.text-body {
  padding:40px 36px;
}
p {
  margin: 0;
}
h1 {
  margin:0 0 30px;
  line-height: 1em;
  font-size: 18px;
  color:#303030
  font-weight: normal;
}
.hd-level-2 {
  word-wrap: break-word;
  color:#004dff;
}
.main-event {
  color:#004dff;
}
a {
  color:#004dff;
  text-decoration: underline;
}
a:hover {
  text-decoration:none;
}
