body {
  letter-spacing: 0.03em;
  margin:0;
  background: white;
  font-family: "yugothic","yu gothic",sans-serif;
  font-size: 14px;
}

.text {
  width: 100%;
  font-size:14px;
  line-height: 30px;
  float:center;
  text-align: center;
}
.text-body {
  padding:40px 36px;
}

p {
  margin: 0px;
}
h1 {
  margin:0 0 40px;
  line-height: 1em;
  font-size: 18px;
  font-weight: normal;
}
.hd-level-2 {
  word-wrap: break-word;
}

#modal-content{
	width:50%;
	margin:1.5em auto 0;
	padding:10px 20px;
	border:2px solid #aaa;
	background:#fff;
	z-index:2;
}

.modal-p{
	margin-top:1em;
}

.modal-p:first-child{
	margin-top:0;
}

.button-link{
	color:#00f;
	text-decoration:underline;
}

.button-link:hover{
	cursor:pointer;
	color:#f00;
}

section table { width: 100%; }
section th, section td  { padding: 10px; border: 1px solid #ddd; }
section th  { background: #f4f4f4; }

/*----------------------------------------------------
  .demo02
----------------------------------------------------*/
.demo02 th  { width: 13%; }
.demo02 td  { text-align: center; }
.demo02 td:first-child  { text-align: left; }
@media only screen and (max-width: 800px) {
  .demo02 {
    display: block;
    width: 100%;
    margin: 0 -10px;
  }
  .demo02 thead{
    display: block;
    float: left;
    overflow-x:scroll;
  }
  .demo02 tbody{
    display: block;
    width: auto;
    overflow-x: auto;
    white-space: nowrap;
  }
  .demo02 th{
    display: block;
    width:auto;
  }
  .demo02 tbody tr{
    display: inline-block;
    margin: 0 -3px;
  }
  .demo02 td{
    display: block;
  }
}

.table {
  max-width: 70%;
  display: block;
}

.credits {
  margin-top: 0px;
  float: center;
  text-align: center;
}

.mesena {
 margin: 20px;
 max-width: 300px;
 max-height: 100px;
}

.chishima {
  margin: 20px;
  max-width: 300px;
  max-height: 100px;
}

.artssupport {
  margin: 20px;
  max-width: 300px;
  max-height: 100px;
}

a {
  color:black;
  text-decoration: overline;
}
a:hover {
  text-decoration:none;
}
